@import url('https://fonts.cdnfonts.com/css/scada');
@import url('https://fonts.cdnfonts.com/css/inter');
*{
    padding: 0;
    margin: 0;
        
}

html{
    scroll-behavior: smooth;
}
body{background-color: #1A1A1A;}
::-webkit-scrollbar{
    width: 15px;
    background-color: #1A1A1A;
    border: #464545 2px solid;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #464545;
    border-radius: 12px;
}
/****************************navbar and logo***************************/

.head{
    
    min-width: 1545px;
    min-height: 430px;
    position: absolute;
    z-index: 0;
    background: url(images/pexels-jeremy-bishop-2923591.jpg);
    background-size:cover;
    
    background-repeat: no-repeat;
}
.logo{
    position: absolute;

left: 2rem;
top: 3rem;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 2rem;

color: #e7b11a;

}
nav{
    position: absolute;
width: 50vw;
height: 2rem;
left: 30vw;
top: 3.5rem;

}
nav ul{
   display: flex;
    list-style: none;
    
}
nav ul li{
    margin:0rem  1.5rem;
    padding: 0.15rem;
    padding:0.5%;
    transition: 0.3s ease;
}
nav ul li:hover{
    border-radius: 3px;
    background-color: #e7b11a;
    
}
nav ul li:hover a{
    color:black;
}
#connexion{
    position: absolute;
width: 7rem;
height: 1.5rem;
left: 55vw ;
background-color: #e7b11a;
color: BLACK;
padding: 0.25rem 1rem ;
border-radius: 20px;
transition: 0.3s ease;
}
#connexion a{
    color: black;
    transition: 0.3s ease;
}
#connexion:hover{
    background-color: #00000000;
    cursor: pointer;
    
}
.active,.active a{
    border-radius: 3px;
    background-color: #e7b11a;
    color:black;
}
#connexion:hover #a-con{
    color: white;
}
nav ul a{
    color: white;
    text-decoration: none;
    font-family:'Inter';
font-style: normal;
font-weight: 400;
font-size:1.25rem;
line-height: 24px;
transition: 0.3s ease;
}
/*********************image centrale***********************/
.main{
    width: 100%;
    background-color: #1A1A1A;
    height: 2841px;
    
    
}
.center{
    
    z-index: 3;
    position:absolute;
    min-width: 1100px;
    min-height:610px;
    margin-left: 15%;
   
   
    top: 160px;
    background-position: top;
    background: url(images/462130-statue-dark-Ancient-Greek-sculpture-simple-background.jpg);
    box-shadow: 1px 10px 29px #000000;
    background-size: cover;
}
.center h1{
position: absolute;
width: 50%;
height: 40%;

left: 6rem;
top: 7rem;

font-family: 'Scada';
font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 62px;

color: #FFFFFF;
}
.white-shadow{
    position: absolute;
    min-width: 1010px;
    min-height:610px;
margin-left: 15vw;
top: 681px;

background: linear-gradient(180deg, rgba(217, 217, 217, 0.53) 0%, rgba(217, 217, 217, 0) 23.6%);
filter: blur(54px);
}
.black-shadow1{
    position: absolute;
width: 447px;
height: 153px;
margin-left: 10vw;
top: 636.46px;

background: #000000;
filter: blur(52px);
transform: rotate(-17.51deg);
}
.black-shadow2{
    z-index: 0;
    position: absolute;
width: 449.16px;
height: 153px;
left: 55rem;
top: 606.46px;

background: #000000;
filter: blur(52px);
transform: rotate(17.51deg);
}
#insp
{
    position: absolute;
    width: 822px;
    height: 24px;
    left: 22%;
    top: 933px;
    
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 8px;
    color: #E7B506;
}
.about{
    position: absolute;
width: 986px;
height: 306px;
left: 15vw;
top: 1208px;
padding-left: 5%;

}
.about h1{
    position: absolute;
    width: 126px;
    height: 62px;
    
    
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    
    color: #FFFFFF;
}
.about p{
    position: absolute;
width: 443px;
height: 149px;
top: 100px;

font-family: 'Scada';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #FFFFFF;

}
.about img{
    z-index: 10;
    position: absolute;
width: 435px;
height: 306px;
left: 605px;



filter: drop-shadow(1px 10px 29px #000000);
}
.about-white-shadow{
    z-index: 0;
    position: absolute;
width: 531px;
height: 86px;
left: 550px;
top: 300px;

background: linear-gradient(180deg, #eed91e 0%, rgba(217, 217, 217, 0) 100%);
filter: blur(54px);
}
.about-black-shadow1{
    z-index: 0;
    position: absolute;
width: 202.7px;
height: 106.66px;
left: 500px;
top: 250px;

background: #000000;
filter: blur(52px);
transform: rotate(-17.51deg);
}
.about-black-shadow2{
    z-index: 0;
    position: absolute;
width: 202.7px;
height: 106.66px;
left: 950px;
top: 250px;

background: #000000;
filter: blur(50px);
transform: rotate(17.51deg);
}
.biblio{
    position: absolute;
    width: 986px;
    height: 306px;
    left: 15vw;
    top: 1808px;
    padding-left: 2%;
    
   
}
.biblio img{
    z-index: 10;
    position: absolute;
width: 455px;
height: 306px;




filter: drop-shadow(1px 10px 29px #000000);
margin-left: 3%;
}
.biblio h1{
    position: absolute;
    width: 126px;
    height: 62px;
    left: 605px;
    
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    
    color: #FFFFFF;
}
.biblio p{
    position: absolute;
    width: 443px;
    height: 149px;
    top: 100px;
    left: 605px;
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    
    color: #FFFFFF;
}
.bib-white-shadow{
    z-index: 0;
    position: absolute;
width: 531px;
height: 86px;

top: 300px;

background: linear-gradient(180deg, #7a79c0 0%, rgba(217, 217, 217, 0) 100%);
filter: blur(54px);
}
.bib-black-shadow1{
    z-index: 0;
    position: absolute;
width: 202.7px;
height: 106.66px;
left: -1px;
top: 250px;

background: #000000;
filter: blur(52px);
transform: rotate(-17.51deg);
}
.bib-black-shadow2{
    z-index: 0;
    position: absolute;
width: 202.7px;
height: 106.66px;
left: 406px;
top: 250px;

background: #000000;
filter: blur(52px);
transform: rotate(17.51deg);
}
.myst{
    position: absolute;
    width: 986px;
    height: 306px;
    left: 15vw;
    top: 2408px;
    padding-left: 5%;
    
}
.myst img{
    z-index: 10;
    position: absolute;
width: 455px;
height: 306px;
left: 585px;

filter: drop-shadow(1px 10px 29px #000000);
}
.myst h1{
    position: absolute;
    width: 326px;
    height: 62px;
    
    
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    
    color: #FFFFFF;
}
.myst p{
    position: absolute;
width: 443px;
height: 149px;
top: 100px;

font-family: 'Scada';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #FFFFFF;

}

.myst-white-shadow{
    z-index: 0;
    position: absolute;
width: 531px;
height: 86px;
left: 550px;
top: 290px;

background: linear-gradient(180deg, #ffffff 0%, rgba(217, 217, 217, 0) 100%);
filter: blur(54px);
}
.myst-black-shadow1{
    z-index: 0;
    position: absolute;
width: 202.7px;
height: 106.66px;
left: 500px;
top: 250px;

background: #000000;
filter: blur(52px);
transform: rotate(-17.51deg);
}
.myst-black-shadow2{
    z-index: 0;
    position: absolute;
width: 202.7px;
height: 106.66px;
left: 950px;
top: 250px;

background: #000000;
filter: blur(50px);
transform: rotate(17.51deg);
}
.histo{
    position: absolute;
    width: 986px;
    height: 306px;
    left: 15vw;
    top: 3008px;
    padding-left: 2%;
    
   
}
.histo img{
    z-index: 10;
    position: absolute;
width: 455px;
height: 306px;




filter: drop-shadow(1px 10px 29px #000000);
margin-left: 3%;
}
.histo h1{
    position: absolute;
    width: 126px;
    height: 62px;
    left: 605px;
    
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    
    color: #FFFFFF;
}
.histo p{
    position: absolute;
    width: 443px;
    height: 149px;
    top: 100px;
    left: 605px;
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    
    color: #FFFFFF;
}
.histo-white-shadow{
    z-index: 0;
    position: absolute;
width: 531px;
height: 86px;

top: 300px;

background: linear-gradient(180deg, #caa553 0%, rgba(217, 217, 217, 0) 100%);
filter: blur(54px);
}
.histo-black-shadow1{
    z-index: 0;
    position: absolute;
width: 202.7px;
height: 106.66px;
left: -1px;
top: 250px;

background: #000000;
filter: blur(52px);
transform: rotate(-17.51deg);
}
.histo-black-shadow2{
    z-index: 0;
    position: absolute;
width: 202.7px;
height: 106.66px;
left: 406px;
top: 250px;

background: #000000;
filter: blur(52px);
transform: rotate(17.51deg);
}
footer a{
    color:white; 
    text-decoration:none;
}
footer{
    position: absolute;
    min-width: 1545px;
    height: 300px;
    background-color: black;
    margin-top: 50%;
    padding-top: 3%;
    overflow: hidden;
}
#sub{
    display: flex;
    list-style: none;
    width: 100vw;
    justify-content: space-around;
    position: absolute;
   
    height: 19px;
    
    padding-bottom: 4px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
   
    color: #FFFFFF;}
#sub li{
    padding-bottom: 2rem;
    border-bottom: 1px white dotted;
}
#sub li ul{
    list-style: none;
    padding-top: 3rem;
    line-height: 0.25rem;
}
#sub li li{
    border: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.521);
}
#sub li li a{
    color: rgba(255, 255, 255, 0.521);
}
@media (min-width:1545px){
   
    .head,footer{
        width: 100vw;
    }
    .black-shadow2{
        left:67vw;
    }
    .center,.white-shadow{
        width: 70vw;
       
    

    }
    
}
